@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<p> Наш сайт був створений для того, щоб об’єднати та систематизувати книжкові доробки авторів із різних країн світу, допомогти усім книголюбам швидко і легко знайти цікаву для них літературу. <strong>"Світ книжок" </strong>– це можливість познайомитись з читачами-однодумцями, згадати колись прочитані книги і сформувати власну електронну бібліотеку, бути в курсі різноманітних книжкових новинок і літературних подій.</strong>
