@model Core.ViewModels.UserProfileViewModel

<h2>Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        @if (Model.Avatar != null)
        {
            <dt>
                Avatar
            </dt>
            <dd>
                <img src="~/File?id=@Model.Avatar.FileId" alt="avatar" />
            </dd>
        }
        <dt>
    </dl>
</div>

@{Html.RenderAction("AllAuthorsBook", new { userId = Model.Id });}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
</p>
<p>
    @Html.ActionLink("Add Book", "AddBook", "Book", new { userId = Model.Id }, null)
</p>