@model Core.ViewModels.UserProfileViewModel

<h2>Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @if (Model.Avatar != null)
        {
            <dt>
                Avatar
            </dt>
            <dd>
                <img src="~/File?id=@Model.Avatar.FileId" alt="avatar" />
            </dd>
        }
        <dt>
</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
</p>